@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background: hsl(270, 33%, 7%);
  color: hsl(270, 50%, 83%);
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.62;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-weight: normal;
}
