@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --wei-color-hue: 218;

  --wei-color-background: hsl(var(--wei-color-hue), 0%, 5%);
  --wei-color-link: hsl(345, 63%, 58%);
  --wei-color-text: hsl(var(--wei-color-hue), 33%, 80%);
  --wei-color-title: hsl(var(--wei-color-hue), 33%, 80%);

  --wei-color-card: hsl(var(--wei-color-hue), 13%, 10%);
  --wei-color-divider: hsl(var(--wei-color-hue), 17%, 15%);
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background: var(--wei-color-background);
  color: var(--wei-color-text);
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.62;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--wei-color-link);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-weight: normal;
}
